.patient-list-page{
    padding: 20px 50px;
}

.title h1{
    color: #000;
}

.search-container{
    margin-top: 10px;
    display: flex;
}

.search{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    /* Removed white background that was causing the issue */
}

.filter{
    margin-top: 8px;
    margin-left: 20px;
}

/* body */
.patient-body-container{
    display: flex;
}