.sidebar{
    height: 100vh;
    width: 50px;
    background-color: aliceblue;
    color: black;
    padding: 12px;
}
.logo{
    width: 45px;
    height: 56.475px;
    flex-shrink: 0;
}
.logo p{
    color: #000;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 40px */
    margin-left: 8px;
}
.line{
    width: 48px;
    height: 1px;
    background: #D0D5DD;
    margin-top: 20px;
}
.menu{
    margin-top: 40px;
}
.menu p{
    color: var(--Neutral-500, #64748B);
    font-size: 12px;
    font-style: normal;
    font-weight: 556;
    line-height: normal;
    margin-left: 6px;
}
.profile-icon{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: #64748B;
    margin-left: 5px;
    margin-top: 30px;
}
/* icons */

.dashboard-icon{
    margin-left: 10px;
}
.patient-list-icon{
    margin-top: 20px;
        margin-left: 10px;
}
.settings{
    margin-top: 340px;
    margin-left: 10px;
}
